h1 {
    font-weight: 600;
}

.tulisan-cilik {
    font-size: small;
}

.registration-section-title {
    background: linear-gradient(135deg, #0d9aac 60%, transparent 40%);
}

.registration-section-title, .announcement-section-title, .info-section-title {
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    color: #fff;
    margin-left: -35px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 10px 8px 35px;
}

@media only screen and (max-width: 360px) {
    h1 {
        font-size: 1.5rem;
    }

    .tulisan-cilik {
        font-size: 10px;
    }

    .registration-section-title {
        background: linear-gradient(120deg, #0d9aac 80%, transparent 40%);
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .tulisan-cilik {
        font-size: 12px;
    }

    .registration-section-title {
        background: linear-gradient(120deg, #0d9aac 80%, transparent 40%);
    }
}

@media only screen and (max-width: 768px) {
    .registration-section-title {
        background: linear-gradient(120deg, #0d9aac 80%, transparent 40%);
    }
}