p{
    font-size: 18px;
    text-align: justify;
}

.owl-carousel.owl-loaded {
    display: grid !important;
}

.img-fluid {
    height: 250px;
    width: 350px;
}

.news-section-title, .announcement-section-title {
    background: linear-gradient(135deg, #0d9aac 60%, transparent 40%);
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    color: #fff;
    margin-left: -35px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px 10px 8px 35px;

}

.card-container {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0;
    box-shadow: 0px 0px 18px 1px rgba(9,9,9,.2);
    overflow: hidden;
}

.card-details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    overflow: hidden;
}

.card-details .created-at {
    position: absolute;
    top: 5;
    left: 0;
    background-color: rgb(4, 35, 65);
    color: #fff;
    padding: 7px 12px;
    margin: 8px 8px;
    border-radius: 2px;
}   

.card-details .post-link {
    position: absolute;
    background-color: rgba(4, 35, 65, .85);
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 480px) { 
    h4 {
        font-size: 1rem;
    }

    .next {
        font-size: 10px;
    }

    .announcement-section-title .news-section-title {
        background: linear-gradient(140deg, #0d9aac 70%, transparent 40%);
    }

    
}