.costume-warna-border-blue {
    border-top: 2px solid #007bff !important;
}

.costume-warna-border-red {
    border-top: 2px solid #dc3545 !important;
}

.costume-warna-border-pink {
    border-top: 2px solid #e83e8c !important;
}

.costume-warna-border-orange {
    border-top: 2px solid #fd7e14 !important;
}

.costume-warna-border-yellow {
    border-top: 2px solid #ffc107 !important;
}

.costume-warna-border-teal {
    border-top: 2px solid #20c997 !important;
}

.costume-warna-border-cyan {
    border-top: 2px solid #17a2b8 !important;
}

.costume-warna-border-gray {
    border-top: 2px solid #6c757d !important;
}

.costume-warna-border-dark {
    border-top: 2px solid #343a40!important;
}

.costume-warna-border-white {
    border-top: 2px solid #ffffff !important;
}

