a {
    text-decoration: none !important;
}

.header{
    background-color: #75cfb8   ;
    font-size: 17px;
    color: black;
    margin-bottom: 5px;
}

.content {
    font-size: 100% !important;
}


.footer{
    position: relative;
    background-color: #276678;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
